.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-size: 3.2vh;
  text-align: center;
}

.container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  max-width: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 30px;
  margin-bottom: 20px;

  & button {
    border-radius: 20px;
    border: none;
    height: 40px;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
  }

  & button:hover {
    border: 1px solid black;
  }

  & input {
    border: 1px solid black;
    border-radius: 30px;
    height: 30px;
    background-color: rgba(52, 58, 58, 0.151);
    font-size: 16px;
    padding-left: 10px;
    outline: none;
  }
}

.card {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.3);
  justify-content: space-between;
  margin: 10px;
  padding: 10px;

  & p {
    font-weight: 600;
    margin: 0 20px;
  }

  & span {
    font-weight: 300;
  }

  & button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-top: 60px;
  }

  & button:hover {
    opacity: 0.7;
  }
}
