.card-up {
  width: 400px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.6);
  margin: 0;
  gap: 10px;
  border-radius: 10px;
  max-width: 50%;
  padding: 10px;
  margin-bottom: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-up input {
  width: 300px;
  height: 30px;
  border: 1px solid black;
  border-radius: 30px;
  background-color: rgba(52, 58, 58, 0.151);
}

.card-up button {
  border-radius: 20px;
  border: none;
  height: 40px;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
  width: 320px;
}

.elements {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-up {
  margin: 30px 40px;
  width: 300px;
}

.popup-content {
  border-radius: 30px;
  background: rgba(199, 199, 199, 0.6);
  top: -20px;
  animation: toastIn 0.4s ease;
}

@keyframes toastIn {
  from {
    opacity: 0;
    transform: translateY(100%) scale(0.81);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.popup-text {
  font: bold;
  text-align: center;
}
