* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-width: 100vh;
  width: 100vw;
  background: linear-gradient(
    145deg,
    #0f1117 0%,
    #1a1e2a 40%,
    #2b3245 75%,
    #3a4157 100%
  );

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

input {
  margin: 10px;
  padding: 10px 10px;
  border-radius: 8px;
  border: none;
}
